<button type="button" class="btn btn-link" data-toggle="modal" data-target="#loginForm">Login</button>
<!-- Modal -->
<div id="loginForm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body form-group">
        <div class="">
          <label for="userName">User name:</label>
          <input type="text" class="form-control" id="userName" placeholder="Insert a new or existent user name" ng-keypress="loginEvent($event)"/><br/>
          <button class="btn btn-primary" ng-click="login()">Submit</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>